.project-creator {
 display: none;
 position: absolute;
 top: 126px;
 left: 50%;
 transform: translateX(-50%);
 z-index: 10;
 background: $dark-grey;
 width: 600px;
 max-width: 100%;
 padding: 10px;

 @media screen and (max-width: 768px) {
  transform: translateX(0);
  top: 56px;
  left: 0;
 }

 &__title {
  color: $white;
  text-align: center;
 }
 &__container {
  @include flex(flex-start, flex-start, row);
  margin: 10px 0;
 }

 &__label {
  display: block;
  color: $white;
 }
 &__input,
 &__select,
 &__textarea {
  margin-left: 6px;
 }
 &__input,
 &__textarea {
  border-bottom: 2px solid $white;
  transition: all 0.3s ease;
  width: 100%;

  color: $white;
  &:focus {
   border-bottom-color: $blue;
   color: $blue;
  }
 }
 &__submit {
  margin: 0 auto;
  display: inline-block;
 }
 &__close {
  cursor: pointer;
  color: #f23c50;
  position: absolute;
  top: 6px;
  right: 6px;
  @include flex(center, center, row);
  width: 20px;
  height: 20px;
  & i {
   font-size: 1.3rem;
  }
 }
}
.project-creator--open .project-creator {
 display: block;
}
