.search {
 &__label {
  display: block;
  padding: 10px 0;
  color: $light-blue;
 }
 &__input {
  border-bottom: 2px solid $blue;
  &:focus {
   border-bottom-color: $light-blue;
  }
  width: 100%;
  color: $light-blue;
  text-align: center;
  &::placeholder {
   text-align: center;
   color: $light-blue;
  }
 }
}
