body {
  background-color: #FAFCF8;
}

.main-content {
  transition: transform 0.2s ease;
}

.main-content--is-pushed-down {
  transform: translateY(156px);

  @media (min-width: 377px) {
    transform: translateY(104px);
  }
}

.tags {
  margin-top: 72px;
  font-size: 12px;
  @include flex(flex-start, center, row);
  flex-wrap: wrap;

  @media (min-width: 360px) {
    padding: 0 5vmax;
  }

  .tags__item {
    background-color: #E9F1DF;
    padding: 8px;
    margin: 4px;
    border-radius: 16px;
  }
}

.projects {
  margin: 16px 8px 0;
  padding-bottom: 48px;
  @include flex(center, center, row);
  flex-wrap: wrap;

  @media (orientation: portrait) and (max-width: 548px) {
    margin-left: 16px;
    margin-right: 16px;
  }

  @media (min-width: 1500px) {
    margin-top: 24px;
  }
}

.card {
  width: 250px;
  box-shadow: 1px 1px 6px #2D2D2D;
  margin-bottom: 16px;
  padding-bottom: 16px;

  &:nth-child(odd) {
    @media (orientation: landscape) {
      margin-right: 12px;
    }

    @media (orientation: portrait) and (min-width: 549px) {
      margin-right: 14px;
    }

    @media (min-width: 640px) {
      margin-right: 16px;
    }
  }

  @media (min-width: 640px) {
    width: 280px;
  }

  @media (min-width: 905px) {
    margin-right: 16px;
  }

  @media (min-width: 1500px) {
    width: 400px;
    padding-bottom: 20px;
  }

  .card__img {
    width: 100%;
  }

  .card__content {
    padding: 0 12px;

    @media (min-width: 640px) {
      padding: 0 16px;
    }

    .card__title {
      color: $light-blue;
      margin: 8px 0;
      font-size: 20px;

      @media (min-width: 1500px) {
        font-size: 24px;
        margin: 12px 0;
      }
    }

    .card__text {
      margin: 0;
      font-size: 10px;

      @media (min-width: 1500px) {
        font-size: 12px;
      }
    }

    .card__footer {
      font-size: 8px;
      margin-top: 8px;
      @include flex(flex-start, center, row);

      @media (min-width: 1500px) {
        font-size: 10px;
        margin-top: 12px;
      }

      & .item {
        margin-right: 8px;

        @media (min-width: 1500px) {
          margin-right: 16px;
        }

        &__icon {
          margin-right: 4px;
          color: $light-blue;
        }
      }
    }
  }
}